# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

## Ignore all jars
*.jar

### Gradle template
build/
out/
local.properties

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
